<div class="container">
    <div class="col-md-12 mx-auto">
        <input class="form-control form1" id="input1">
    </div>
    <div class='col-md-10 mx-auto'>
        <button class="btn btn-primary" style="padding: 1%;margin: 2px; width: 100px;">Edit</button>
        <button class="btn btn-primary" style="padding: 1%;margin: 8px; width: 100px">Edit</button>
        <button class="btn btn-primary" style="padding: 1%;margin: 8px; width: 100px">Edit</button>
        <button class="btn btn-primary" style="padding: 1%;margin: 8px;width: 100px">Edit</button>
    </div>
</div>